{% extends 'layout.html' %}

{% block body %}
  <h2>{{username}}'s profile</h2>
  <div style="display:inline-flex; grid-template-columns: 3fr 3fr; columns:3;">
    <div class="column" id="page-content">
        <h5>Saved Recipes:</h5>
          {%for save in saved_recipes%}
          <div class="card" id="saved_recipe">  
            <a href="{% url 'recipe' save.id%}">
              {{save.title}}
            </a>
            by {{save.user}}
          </div>
          {%endfor%}
    </div>
    <div class="column" id="page-content">
      <h5>{{username}}'s Reviews:</h5>
      {% for review in user_reviews%}
        <div class="card" id="saved_recipe">  
          <h6><a href="{%url 'recipe' review.recipe.id%}">{{review.recipe.title}}</a>: {{review.rating}}/5</h6>
          <p>{{review.comment}}</p>
          <p>{{review.created_at}}</p>
        </div>
      {%endfor%}
    </div>
    <div class="column" id="page-content" style="width:500px">
      <h5>{{username}}'s Recipes:</h5>
      <div>
      {% for recipe in user_recipes%}
        <div class="card" id="saved_recipe">
          <a href="{% url 'recipe' recipe.id%}">
            <h5>{{recipe.title}}</h5>
          </a>
          {{recipe.quick_description}}
          <form action="{% url 'recipe' recipe.id%}delete_recipe" id="delete-button">
            <button type="submit" id="delete">Delete</button>
          </form>
        </div>
      {%endfor%}
      </div>
    </div>
  </div>

{% endblock %}