<div class="row">
{% for recipe in recipes %}
        <div class="card">
            <div class="container mt-4">
            {% if recipe.picture %}
                <img src="{{ recipe.picture.url }}" class="card-img-top img-fluid" alt="{{ recipe.title }}">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.quick_description }}</p>
                <a href="recipe/{{ recipe.id }}" class="btn btn-primary mt-auto">View Recipe</a>
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-md-12">
        <p>No recipes available.</p>
    </div>
</div>
{% endfor %}